In [3]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['class'] = iris.target_names[iris.target]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['class'] = le.fit_transform(df['class'])

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [9]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import balanced_accuracy_score
from sklearn.model_selection import train_test_split
X = df.drop('class',axis = 1)
y = df['class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [10]:
KNN_model = KNeighborsClassifier(metric = 'manhattan')
KNN_model.fit(X_train, y_train)
KNN_pred = KNN_model.predict(X_test)
print(classification_report(y_test, KNN_pred))
print(balanced_accuracy_score(y_test, KNN_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        17
           1       1.00      0.93      0.97        15
           2       0.93      1.00      0.96        13

    accuracy                           0.98        45
   macro avg       0.98      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45

0.9777777777777779

In [11]:
KNN_model = KNeighborsClassifier(metric = 'euclidean')
KNN_model.fit(X_train, y_train)
KNN_pred = KNN_model.predict(X_test)
print(classification_report(y_test, KNN_pred))
print(balanced_accuracy_score(y_test, KNN_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        17
           1       1.00      0.93      0.97        15
           2       0.93      1.00      0.96        13

    accuracy                           0.98        45
   macro avg       0.98      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45

0.9777777777777779

In [12]:
from sklearn.naive_bayes import GaussianNB
NBC_model = GaussianNB()
NBC_model.fit(X_train, y_train)
NBC_pred = NBC_model.predict(X_test)
print(classification_report(y_test, NBC_pred))
print(balanced_accuracy_score(y_test, NBC_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        17
           1       1.00      0.93      0.97        15
           2       0.93      1.00      0.96        13

    accuracy                           0.98        45
   macro avg       0.98      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45

0.9777777777777779

In [13]:
from sklearn.naive_bayes import MultinomialNB
NBC_model = MultinomialNB()
NBC_model.fit(X_train, y_train)
NBC_pred = NBC_model.predict(X_test)
print(classification_report(y_test, NBC_pred))
print(balanced_accuracy_score(y_test, NBC_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        17
           1       1.00      0.73      0.85        15
           2       0.76      1.00      0.87        13

    accuracy                           0.91        45
   macro avg       0.92      0.91      0.90        45
weighted avg       0.93      0.91      0.91        45

0.9111111111111111